<%- include("template/cabecera") %>
    <!-- aca comienza el body -->

    <main class="contenedor">

        <h1>
            <%= title %>
        </h1>
        <img style="width: 18rem; margin-bottom: 2rem;" src="<%= plato.imagen %>" alt="...">
        <h2>
            <%= plato.titulo %>
        </h2>
        <p class="text-dark">
            <%= plato.descripcion %>
        </p>
        <p class="precio">
            <%= plato.precio %>$
        </p>
        <script type="text/javascript">
            var i = 0

            function mostrar() {
                document.getElementById('resultado').innerHTML = i;
            }

            function sumar() {
                i = i + 1;
                document.getElementById('resultado').innerHTML = i;
            }

            function restar() {
                if (i > 1) {
                    i = i - 1;
                    document.getElementById('resultado').innerHTML = i;
                }


            }
        </script>
        <div class="contenedor">
            <div class="separar">
                <div style="text-align: right;">
                    <button onclick="restar(); ">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-minus" width="52" height="52" viewBox="0 0 24 24" stroke-width="2.5" stroke="#771A84" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="12" cy="12" r="9" />
                        <line x1="9" y1="12" x2="15" y2="12" />
                     </svg>

                    </button>

                </div>


                <p class="precio">
                    <span id="resultado"> </span>
                </p>


                <div style="text-align: left;">
                    <button onclick="sumar();">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="52" height="52" viewBox="0 0 24 24" stroke-width="2.5" stroke="#771A84" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <circle cx="12" cy="12" r="9" />
                          <line x1="9" y1="12" x2="15" y2="12" />
                          <line x1="12" y1="9" x2="12" y2="15" />
                        </svg>
                    </button>
                </div>


            </div>

        </div>

    </main>

    <!-- aca termina el body -->
    <%- include("template/pieDePagina") %>