<%- include("template/cabecera") %>
<!-- aca comienza el body -->

    <main class="container">

      <%- include('components/tarjetaPlato', {unPlato: plato}); %>

      <h1> <%= title %></h1>
      <h2> <%= plato.titulo %></h2>
      <p class="text-dark"> <%= plato.descripcion %></p>
      <span><%= plato.precio %></span>
    </main>

<!-- aca termina el body -->
<%- include("template/pieDePagina") %>